<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oops !</title>

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">    
    <!--CSS-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/arcade.css') }}">
    
</head>
<body>
    

    <div class='section border border-red'>
        <h1><span class='red'>!!</span> <span class='red'>!!</span> <span class='red'>!!</span></h1>
        <div class="now-playing">
        </div>
    </div>

    <div class='section border border-yellow'>
        <h1><span class='yellow'>!!</span>  OOPS <span class='yellow'>!!</span></h1>
        <div class="now-playing">
            <h4>try <a href="/"><u class='u-yellow'>refreshing</u></a> the page</h4>

        </div>
    </div>

    

    
        
</body>

</html>

